        <!-- Page Content -->
        <div class="content">

            <!-- Breadcrumb -->
            <!-- <div class="breadcrumb-bar gradient-bg ">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-md-12 col-12">
                            <nav aria-label="breadcrumb" class="page-breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Blank Page</li>
                                </ol>
                            </nav>
                            <h2 class="breadcrumb-title">Blank Page</h2>
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- /Breadcrumb -->
  
            <div class="container-fluit">
                <!-- <div class="row">
                    <div class="col-12">
                        <h5>Blank Page</h5>
                    </div>
                </div> -->
                <section class="section section-lg section-xl-custom ">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-md-8 col-xl-6 text-center text-sm-left">
                                <img src="assets/img/teladent_2.png" class="wow img-fluid  grad-text animate__animated animate__backInDown animate__slower" alt="teladent">
                                <h1 class="wow  grad-text animate__animated animate__fadeInLeft
                                animate__slower">Dentistry<br>Anytime , Anywhere</h1>
                                <p class="wow  animate__animated animate__fadeInLeft
                                animate__slower">Qualified dental caring for all your dental needs</p>
  
                            </div>
                            <div class="col-xl-6 col-md-4 ">
                                <!-- <div class="intro-group">
                                    <div class="intro-group__single wow fadeInRight" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInRight;"><img src="assets/img/intro-img-1-189x327.png" alt="" width="189" height="327">
                                    </div>
                                    <div class="intro-group__double wow fadeInRight" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInRight;">
                                        <div class="intro-group__item-one" data-parallax-scroll="{&quot;y&quot;: 250,  &quot;smoothness&quot;: 30}" style="transform:translate3d(0px, 1.63px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1); -webkit-transform:translate3d(0px, 1.63px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1); "><img src="assets/img/intro-img-2-185x144.png" alt="" width="185" height="144">
                                        </div>
                                        <div class="intro-group__item-two"><img src="assets/img/intro-img-3-152x261.png" alt="" width="152" height="261">
                                        </div>
                                    </div>
                                </div> -->
                                <div class="">
  
                                    <img src="assets/img/banner.svg" alt="" class="img-fluid animate__animated animate__slideInRight
                                    animate__slower">
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
  
                <section class="section section-lg section-xl-custom " style="background-color: #eff0f1;">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-md-8 col-xl-6 text-center text-sm-left">
                                <img src="assets/img/consultant.gif" alt="" class="img-fluid animate__animated animate__slideInLeft
                                animate__slower ">
  
                            </div>
                            <div class="col-xl-6 col-md-4 ">
  
  
                                <h1 class="wow  grad-text  animate__animated animate__slideInRight
                                animate__slower " style="font-weight: bolder;">Skip the travel! Take Online Dental Consultation</h1>
  
                                <p class="wow animate__animated animate__slideInRight
                                animate__slower ">The Online Check Up from Sensodyne is designed to help you find out about the symptoms associated with sensitive teeth. Do you have similar symptoms?</p>
                                <div class="button-group group-sm justify-content-center justify-content-sm-start d-flex flex-wrap">
                                    <a class="wow animate__animated animate__slideInRight
                                    animate__slower  btn-grad" href="#">Book your online Consultation Now </a>
                                </div>
  
  
  
                            </div>
                        </div>
                    </div>
                </section>
  
  
                <section class="section section-lg section-xl-custom bg-image-4">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-md-8 col-xl-6 text-center text-sm-left">
                                <h1 class="wow  grad-text animate__animated animate__slideInLeft
                                animate__slower animate__delay-4s 4s" style=" font-weight: bolder;">Do you feel a twinge in your teeth sometimes, but are not sure why?</h1>
                                <p class="wow  big animate__animated animate__slideInLeft
                                animate__slower animate__delay-4s 4s">The Online Check Up from Sensodyne is designed to help you find out about the symptoms associated with sensitive teeth. Do you have similar symptoms?</p>
                                <div class="button-group group-sm justify-content-center justify-content-sm-start d-flex flex-wrap">
                                    <a class="wow  button button-primary button-shadow button-md btn-grad animate__animated animate__slideInLeft
                                    animate__slower animate__delay-4s 4s" href="#">Start the Online Oral test</a>
                                </div>
                            </div>
                            <div class="col-xl-6 col-md-4 ">
  
                                <img src="assets/img/bg4.png" alt="" class="img-fluid animate__animated animate__slideInRight
                                animate__slower animate__delay-4s 4s">
                            </div>
                        </div>
                    </div>
                </section>
  
                <section class="section section-lg section-xl-custom">
                    <div class="container vertical-tabs">
                        <div class="row">
                            <div class="col-12">
                                <h2 class="grad-text text-center animate__animated animate__slideInLeft
                                animate__slower animate__delay-5s 5s">About Family Oral Health</h2>
                            </div>
  
                        </div>
                        <div class="row">
  
                            <div class="col-md-3">
                                <div class="nav flex-column nav-pills animate__animated animate__slideInLeft
                                animate__slower animate__delay-5s 5s" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                    <a class="nav-link active" id="v-pills-one-tab" data-toggle="pill" href="#v-pills-one" role="tab" aria-controls="v-pills-one" aria-selected="true">[A] Child </a>
                                    <a class="nav-link" id="v-pills-two-tab" data-toggle="pill" href="#v-pills-two" role="tab" aria-controls="v-pills-two" aria-selected="false">[B] Men</a>
                                    <a class="nav-link" id="v-pills-three-tab" data-toggle="pill" href="#v-pills-three" role="tab" aria-controls="v-pills-three" aria-selected="false">[C] Women</a>
                                    <a class="nav-link" id="v-pills-four-tab" data-toggle="pill" href="#v-pills-four" role="tab" aria-controls="v-pills-four" aria-selected="false">[D] Senior Citizen</a>
                                </div>
                            </div>
                            <div class="col-md-9 shadow animate__animated animate__slideInRight
                            animate__slower animate__delay-5s 5s">
                                <div class="tab-content " id="v-pills-tabContent">
                                    <div class="tab-pane fade show active" id="v-pills-one" role="tabpanel" aria-labelledby="v-pills-one-tab">
                                        <div class="row">
                                            <div class="col-sm-4 col-xs-12">
  
                                                <img class="img-fluid" src="assets/img/blog/blog-06.jpg" />
  
                                            </div>
  
  
                                            <div class="col-sm-8 col-xs-12">
  
                                                <h3 class="grad-text">Child / Kids </h3>
                                                <p>Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
                                                <p>Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
                                                <a href="#" class="btn btn-info">View More</a>
                                            </div>
  
                                        </div>
  
  
                                    </div>
                                    <div class="tab-pane fade" id="v-pills-two" role="tabpanel" aria-labelledby="v-pills-two-tab">
                                        <div class="row">
                                            <div class="col-sm-4 col-xs-12">
  
                                                <img class="img-fluid" src="assets/img/blog/blog-04.jpg" />
  
                                            </div>
  
  
                                            <div class="col-sm-8 col-xs-12">
  
                                                <h3 class="grad-text">Men </h3>
                                                <p>Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
                                                <p>Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
                                                <a href="#" class="btn btn-info">View More</a>
                                            </div>
  
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="v-pills-three" role="tabpanel" aria-labelledby="v-pills-three-tab">
                                        <div class="row">
                                            <div class="col-sm-4 col-xs-12">
  
                                                <img class="img-fluid" src="assets/img/blog/blog-09.jpg" />
  
                                            </div>
  
  
                                            <div class="col-sm-8 col-xs-12">
  
                                                <h3 class="grad-text">Women </h3>
                                                <p>Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
                                                <p>Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
                                                <a href="#" class="btn btn-info">View More</a>
                                            </div>
  
                                        </div>
                                    </div>
  
  
                                    <div class="tab-pane fade" id="v-pills-four" role="tabpanel" aria-labelledby="v-pills-four-tab">
                                        <div class="row">
                                            <div class="col-sm-4 col-xs-12">
  
                                                <img class="img-fluid" src="assets/img/blog/blog-02.jpg" />
  
                                            </div>
  
  
                                            <div class="col-sm-8 col-xs-12">
  
                                                <h3 class="grad-text">Senior Citizen </h3>
                                                <p>Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
                                                <p>Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
                                                <a href="#" class="btn btn-info">View More</a>
                                            </div>
  
                                        </div>
                                    </div>
  
  
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
  
                <!-- services -->
                <section class="section section-lg section-xl-custom bg-image-1" id="Services">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <h2 class="grad-text text-center">Our Services</h2>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate debitis delectus magnam quis corrupti neque enim ipsa. Voluptas nesciunt laborum aliquid corporis, excepturi eaque quidem fugiat sit illum aperiam eum.</p>
                            </div>
  
                        </div>
                        <div class="row">
                            <div class="col-xs-12 ">
                                <nav>
                                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Dental Emergencies</a>
                                        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Dental Online Check up</a>
                                        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Treatment Consultation</a>
                                        <a class="nav-item nav-link" id="nav-about-tab" data-toggle="tab" href="#nav-about" role="tab" aria-controls="nav-about" aria-selected="false">Child Care</a>
                                        <a class="nav-item nav-link" id="nav-about-tab" data-toggle="tab" href="#nav-second" role="tab" aria-controls="nav-second" aria-selected="false">Second Opinion</a>
  
  
                                    </div>
                                </nav>
                                <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                        <div class="row">
                                            <div class="col-sm-4 col-xs-12">
  
                                                <img class="img-fluid" src="assets/img/i1.jpg" />
  
                                            </div>
  
  
                                            <div class="col-sm-8 col-xs-12">
  
                                                <h3 class="grad-text">Dental Emergencies </h3>
                                                <p>Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
                                                <p>Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
                                                <a href="#" class="btn btn-info">Book now </a>
                                            </div>
  
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                                        <div class="row">
                                            <div class="col-sm-4 col-xs-12">
  
                                                <img class="img-fluid" src="assets/img/i2.jpg" />
  
                                            </div>
  
  
                                            <div class="col-sm-8 col-xs-12">
  
                                                <h3 class="grad-text">Dental Online Check up </h3>
                                                <p>Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
                                                <p>Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
                                                <a href="#" class="btn btn-info">Book now </a>
                                            </div>
  
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                                        <div class="row">
                                            <div class="col-sm-4 col-xs-12">
  
                                                <img class="img-fluid" src="assets/img/i3.jpg" />
  
                                            </div>
  
  
                                            <div class="col-sm-8 col-xs-12">
  
                                                <h3 class="grad-text">Treatment Consultation </h3>
                                                <p>Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
                                                <p>Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
                                                <!-- <a href="#" class="btn btn-info">View More</a> -->
                                            </div>
  
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
                                        <div class="row">
                                            <div class="col-sm-4 col-xs-12">
  
                                                <img class="img-fluid" src="assets/img/i4.jpg" />
  
                                            </div>
  
  
                                            <div class="col-sm-8 col-xs-12">
  
                                                <h3 class="grad-text">Child Care </h3>
                                                <p>Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
                                                <p>Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
                                                <!-- <a href="#" class="btn btn-info">View More</a> -->
                                            </div>
  
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="nav-second" role="tabpanel" aria-labelledby="nav-second-tab">
                                        <div class="row">
                                            <div class="col-sm-4 col-xs-12">
  
                                                <img class="img-fluid" src="assets/img/i5.jpg" />
  
                                            </div>
  
  
                                            <div class="col-sm-8 col-xs-12">
  
                                                <h3 class="grad-text">Second Opinion </h3>
                                                <p>Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
                                                <p>Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
                                                <!-- <a href="#" class="btn btn-info">View More</a> -->
                                            </div>
  
                                        </div>
                                    </div>
                                </div>
  
                            </div>
                        </div>
                    </div>
                </section>
  
                <!-- /services -->
  
  
  
                <!-- find a clinic -->
                <section class="section section-lg section-xl-custom contact-us">
                    <div class="container">
  
                        <div class="row">
                            <div class="col-md-7">
  
                                <div class="map-view">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26373919.386353854!2d-113.76666163476126!3d36.203706779654745!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54eab584e432360b%3A0x1c3bb99243deb742!2sUnited%20States!5e0!3m2!1sen!2sin!4v1606988919902!5m2!1sen!2sin"></iframe>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <h2 class="section-title grad-text">Search Clinic,<br> Make an Appointment !</h2>
                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
                                <div class="form-col">
                                    <form method="post" action="search.html">
  
                                        <ul class="d-flex flex-wrap">
  
                                            <li>
                                                <input type="text" placeholder="Location / Zip code" class="form-control">
                                            </li>
                                            <li>
                                                <input type="submit" value="Search" class="btn-submit form-control btn-info">
                                            </li>
                                        </ul>
  
                                    </form>
                                </div>
  
                                <h2 class="section-title grad-text mt-4">Working Hours</h2>
                                <div class="loc-details">
                                    <ul class="mb-0">
                                        <li class="d-flex justify-content-between">
                                            <span>Monday</span>
                                            <span>09:00 am to 05:00 pm</span>
                                        </li>
                                        <li class="d-flex justify-content-between">
                                            <span>Tuesday</span>
                                            <span>09:00 am to 05:00 pm</span>
                                        </li>
                                        <li class="d-flex justify-content-between">
                                            <span>Wednesday</span>
                                            <span>09:00 am to 05:00 pm</span>
                                        </li>
                                        <li class="d-flex justify-content-between">
                                            <span>Thursday</span>
                                            <span>09:00 am to 05:00 pm</span>
                                        </li>
                                        <li class="d-flex justify-content-between">
                                            <span>Friday</span>
                                            <span>09:00 am to 05:00 pm</span>
                                        </li>
                                        <li class="d-flex justify-content-between">
                                            <span>Saturday</span>
                                            <span>09:00 am to 05:00 pm</span>
                                        </li>
                                        <li class="d-flex justify-content-between">
                                            <span>Sunday</span>
                                            <span>Closed</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
  
                <!-- /find a clinic -->
  
                <!-- TESTIMONIALS -->
                <section class="section section-lg section-xl-custom">
                    <div class="customer-feedback">
                        <div class="container text-center">
                            <div class="row">
                                <div class="col-md-12">
  
                                    <h2 class="section-title grad-text text-center">Testimonials</h2>
  
                                </div>
                                <!-- /End col -->
                            </div>
                            <!-- /End row -->
  
                            <div class="row">
  
                                <div class="col-md-3"></div>
  
                                <div class=" col-md-6  ">
                                    <div class="owl-carousel feedback-slider">
  
                                        <!-- slider item -->
                                        <div class="feedback-slider-item">
                                            <img src="assets/img/team/t1.jpg" class="center-block rounded-circle" alt="Customer Feedback">
                                            <h3 class="customer-name">Lisa Redfern</h3>
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. It is a long established fact that a reader will be distracted by the readable its layout.</p>
                                            <span class="light-bg customer-rating" data-rating="5">
                                                5
                                                <i class="fa fa-star"></i>
                                            </span>
                                        </div>
                                        <!-- /slider item -->
  
                                        <!-- slider item -->
                                        <div class="feedback-slider-item">
                                            <img src="assets/img/team/t2.jpg" class="center-block rounded-circle" alt="Customer Feedback">
                                            <h3 class="customer-name">Cassi</h3>
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. It is a long established fact that a reader will be distracted by the readable its layout.</p>
                                            <span class="light-bg customer-rating" data-rating="4">
                                                4
                                                <i class="fa fa-star"></i>
                                            </span>
                                        </div>
                                        <!-- /slider item -->
  
                                        <!-- slider item -->
                                        <div class="feedback-slider-item">
                                            <img src="assets/img/team/t3.jpg" class="center-block rounded-circle" alt="Customer Feedback">
                                            <h3 class="customer-name">Md Nahidul</h3>
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. It is a long established fact that a reader will be distracted by the readable its layout.</p>
                                            <span class="light-bg customer-rating" data-rating="5">
                                                5
                                                <i class="fa fa-star"></i>
                                            </span>
                                        </div>
                                        <!-- /slider item -->
  
                                    </div>
                                    <!-- /End feedback-slider -->
  
                                    <!-- side thumbnail -->
                                    <div class="feedback-slider-thumb hidden-xs">
                                        <div class="thumb-prev">
                                            <span>
                                                <img src="assets/img/team/t1.jpg" alt="Customer Feedback">
                                            </span>
                                            <span class="light-bg customer-rating">
                                                5
                                                <i class="fa fa-star"></i>
                                            </span>
                                        </div>
  
                                        <div class="thumb-next">
                                            <span>
                                                <img src="assets/img/team/t2.jpg" alt="Customer Feedback">
                                            </span>
                                            <span class="light-bg customer-rating">
                                                4
                                                <i class="fa fa-star"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <!-- /side thumbnail -->
  
                                </div>
                                <!-- /End col -->
  
                                <div class="col-md-3"></div>
                            </div>
                            <!-- /End row -->
                        </div>
                        <!-- /End container -->
                    </div>
                    <!-- /End customer-feedback -->
                </section>
  
  
                <!-- END OF TESTIMONIALS -->
  
  
  
  
                <section class="section section-blogs section-lg section-xl-custom">
                    <div class="container-fluid">
  
                        <!-- Section Header -->
                        <div class="section-header text-center">
                            <h2 class="grad-text">Blogs and Articles</h2>
                            <p class="sub-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                        <!-- /Section Header -->
  
                        <div class="row blog-grid-row">
                            <div class="col-md-6 col-lg-3 col-sm-12">
  
                                <!-- Blog Post -->
                                <div class="blog grid-blog">
                                    <div class="blog-image">
                                        <a href="#"><img class="img-fluid" src="assets/img/blog/blog-01.jpg" alt="Post Image"></a>
                                    </div>
                                    <div class="blog-content">
                                        <ul class="entry-meta meta-item">
                                            <li>
                                                <div class="post-author">
                                                    <a href="#"><img src="assets/img/doctors/doctor-thumb-01.jpg" alt="Post Author"> <span>Dr. Ruby Perrin</span></a>
                                                </div>
                                            </li>
                                            <li><i class="far fa-clock"></i> 4 Dec 2019</li>
                                        </ul>
                                        <h3 class="blog-title"><a href="#">teladent – Making your clinic painless visit?</a></h3>
                                        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur em adipiscing elit, sed do eiusmod tempor.</p>
                                    </div>
                                </div>
                                <!-- /Blog Post -->
  
                            </div>
                            <div class="col-md-6 col-lg-3 col-sm-12">
  
                                <!-- Blog Post -->
                                <div class="blog grid-blog">
                                    <div class="blog-image">
                                        <a href="#"><img class="img-fluid" src="assets/img/blog/blog-02.jpg" alt="Post Image"></a>
                                    </div>
                                    <div class="blog-content">
                                        <ul class="entry-meta meta-item">
                                            <li>
                                                <div class="post-author">
                                                    <a href="#"><img src="assets/img/doctors/doctor-thumb-02.jpg" alt="Post Author"> <span>Dr. Darren Elder</span></a>
                                                </div>
                                            </li>
                                            <li><i class="far fa-clock"></i> 3 Dec 2019</li>
                                        </ul>
                                        <h3 class="blog-title"><a href="#">What are the benefits of Online dentist Booking?</a></h3>
                                        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur em adipiscing elit, sed do eiusmod tempor.</p>
                                    </div>
                                </div>
                                <!-- /Blog Post -->
  
                            </div>
                            <div class="col-md-6 col-lg-3 col-sm-12">
  
                                <!-- Blog Post -->
                                <div class="blog grid-blog">
                                    <div class="blog-image">
                                        <a href="#"><img class="img-fluid" src="assets/img/blog/blog-03.jpg" alt="Post Image"></a>
                                    </div>
                                    <div class="blog-content">
                                        <ul class="entry-meta meta-item">
                                            <li>
                                                <div class="post-author">
                                                    <a href="#"><img src="assets/img/doctors/doctor-thumb-03.jpg" alt="Post Author"> <span>Dr. Deborah Angel</span></a>
                                                </div>
                                            </li>
                                            <li><i class="far fa-clock"></i> 3 Dec 2019</li>
                                        </ul>
                                        <h3 class="blog-title"><a href="#">Benefits of consulting with an Online dentist</a></h3>
                                        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur em adipiscing elit, sed do eiusmod tempor.</p>
                                    </div>
                                </div>
                                <!-- /Blog Post -->
  
                            </div>
                            <div class="col-md-6 col-lg-3 col-sm-12">
  
                                <!-- Blog Post -->
                                <div class="blog grid-blog">
                                    <div class="blog-image">
                                        <a href="#"><img class="img-fluid" src="assets/img/blog/blog-04.jpg" alt="Post Image"></a>
                                    </div>
                                    <div class="blog-content">
                                        <ul class="entry-meta meta-item">
                                            <li>
                                                <div class="post-author">
                                                    <a href="#"><img src="assets/img/doctors/doctor-thumb-04.jpg" alt="Post Author"> <span>Dr. Sofia Brient</span></a>
                                                </div>
                                            </li>
                                            <li><i class="far fa-clock"></i> 2 Dec 2019</li>
                                        </ul>
                                        <h3 class="blog-title"><a href="@">5 Great reasons to use an Online dentist</a></h3>
                                        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur em adipiscing elit, sed do eiusmod tempor.</p>
                                    </div>
                                </div>
                                <!-- /Blog Post -->
  
                            </div>
                        </div>
                        <div class="view-all text-center">
                            <a href="#" class="btn btn-info">View All</a>
                        </div>
                    </div>
                </section>
  
                <section class="news-letter section section-blogs section-lg section-xl-custom">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="news-letter-col">
                                    <div class="section-title pb-2">
                                        <h2 class="grad-text">Grab Our Newsletter</h2>
                                        <p>To receive latest News and Info</p>
                                    </div>
                                    <form>
                                        <div class="d-flex align-items-center">
                                            <div>
                                                <input type="email" name="email" placeholder="Enter Your Email Address">
                                            </div>
                                            <div>
                                                <input class="btn-grad" type="submit" value="subscribe">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
  
  
                        </div>
                    </div>
                </section>
  
            </div>
  
        </div>
        <!-- /Page Content -->
  