<!-- Page Content -->
<div class="content">

    <!-- Breadcrumb -->
    <div class="breadcrumb-bar gradient-bg ">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-md-12 col-12">
                    <h2 class="breadcrumb-title">Who we are</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- /Breadcrumb -->

    <div class="container-fluit ">
        <div class="row">
            <div class="col-12 text-center">
                <img src="assets/img/teladent.png" class="animate__animated animate__backInDown
                " alt="Teladent">

            </div>
        </div>

        <section class="section section-lg bg-default">
            <div class="container text-center text-md-left">
                <div class="row justify-content-lg-between align-items-center row-30 flex-column-reverse flex-md-row">
                    <div class="col-lg-5 col-md-6">
                        <h2 class="wow fadeInLeft grad-text animate__animated animate__fadeInLeft animate__slower">What is Teledentistry</h2>
                        <div class="primary-subtitle wow animate__animated animate__fadeInLeft animate__slower">"We make your smile more perfect, brighter and broader to the world"</div>
                        <p class="wow animate__animated animate__fadeInLeft animate__slower">We are a competent team of dentists who completely understand the importance of quality dental in a busy life. Our practice is based on high standards and new technologies which reflect on beautiful and healthy smiles of
                            our clients.</p>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="block-xs wow animate__animated animate__fadeInRight animate__slower "><img src="assets/img/tela.png" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section section-lg bg-default">
            <div class="container">
                <div class="row row-30 row-narrow-xl-130">
                    <div class="col-lg-6">
                        <h2 class="wow animate__animated animate__fadeInUpBig animate__slower animate__delay-3s 3s grad-text">Why Teladent </h2>
                        <p class="wow animate__animated animate__fadeInUpBig animate__slower animate__delay-3s 3s  offset-xl-20">Our mission is to provide all our clients with various types of dental services, qualified assistance and effective treatment. We work for your oral health, beautiful smiles and well-being.</p>
                        <ul class="list-marked animate__animated animate__fadeInUpBig animate__slower animate__delay-3s 3s  primary font-weight-regular offset-xl">
                            <li class="wow ">Improve the oral and teeth health</li>
                            <li class="wow ">Ensure a happy smile of clients</li>
                            <li class="wow ">Provide quality services to every client</li>
                        </ul>
                    </div>
                    <div class="col-lg-5">
                        <h2 class="wow animate__animated animate__fadeInUpBig animate__slower animate__delay-3s 3s grad-text">How It works</h2>
                        <p class="wow animate__animated animate__fadeInUpBig animate__slower animate__delay-3s 3s offset-xl-20">We are carrying out not only treatments, we also diagnose your potential problems with the teeth to be sure you don't experience any distressing.</p>
                        <p class="wow animate__animated animate__fadeInUpBig animate__slower animate__delay-3s 3s">The best helper in our approach is the team of quality dentists and highest medical technologies.</p>
                    </div>
                </div>
            </div>
        </section>


        <!-- Team -->
        <section id="team" class="pb-5">
            <div class="container">
                <h2 class="section-title  animate__animated animate__fadeInLeft animate__slower animate__delay-4s 4s grad-text"> Our Team </h2>
                <div class="row">
                    <!-- Team member -->
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="image-flip animate__animated animate__fadeInLeft animate__slower animate__delay-4s 4s">
                            <div class="mainflip flip-0">
                                <div class="frontside">
                                    <div class="card">
                                        <div class="card-body text-center">
                                            <p><img class=" img-fluid" src="assets/img/team/t1.jpg" alt="card image"></p>
                                            <h4 class="card-title grad-text">Sunlimetech</h4>
                                            <p class="card-text">This is basic card with image on top, title, description and button.</p>

                                        </div>
                                    </div>
                                </div>
                                <div class="backside gradient-bg ">
                                    <div class="card gradient-bg">
                                        <div class="card-body text-center mt-4 gradient-bg">
                                            <h4 class="card-title text-white">Sunlimetech</h4>
                                            <p class="card-text text-white">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                            <ul class="list-inline text-white">
                                                <li class="list-inline-item">
                                                    <a class="social-icon text-xs-center" target="_blank" href="#">
                                                        <i class="fa fa-facebook text-white"></i>
                                                    </a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a class="social-icon text-xs-center" target="_blank" href="#">
                                                        <i class="fa fa-twitter text-white"></i>
                                                    </a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a class="social-icon text-xs-center" target="_blank" href="#">
                                                        <i class="fa fa-skype text-white"></i>
                                                    </a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a class="social-icon text-xs-center" target="_blank" href="#">
                                                        <i class="fa fa-google text-white"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ./Team member -->
                    <!-- Team member -->
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="image-flip animate__animated animate__fadeInLeft animate__slower animate__delay-5s 5s">
                            <div class="mainflip flip-0">
                                <div class="frontside">
                                    <div class="card">
                                        <div class="card-body text-center">
                                            <p><img class=" img-fluid" src="assets/img/team/t2.jpg" alt="card image"></p>
                                            <h4 class="card-title grad-text">Sunlimetech</h4>
                                            <p class="card-text">This is basic card with image on top, title, description and button.</p>

                                        </div>
                                    </div>
                                </div>
                                <div class="backside gradient-bg ">
                                    <div class="card gradient-bg">
                                        <div class="card-body text-center mt-4 gradient-bg">
                                            <h4 class="card-title text-white">Sunlimetech</h4>
                                            <p class="card-text text-white">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                            <ul class="list-inline text-white">
                                                <li class="list-inline-item">
                                                    <a class="social-icon text-xs-center" target="_blank" href="#">
                                                        <i class="fa fa-facebook text-white"></i>
                                                    </a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a class="social-icon text-xs-center" target="_blank" href="#">
                                                        <i class="fa fa-twitter text-white"></i>
                                                    </a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a class="social-icon text-xs-center" target="_blank" href="#">
                                                        <i class="fa fa-skype text-white"></i>
                                                    </a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a class="social-icon text-xs-center" target="_blank" href="#">
                                                        <i class="fa fa-google text-white"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ./Team member -->
                    <!-- Team member -->
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="image-flip animate__animated animate__fadeInLeft animate__slower animate__delay-5s 5s">
                            <div class="mainflip flip-0">
                                <div class="frontside">
                                    <div class="card">
                                        <div class="card-body text-center">
                                            <p><img class=" img-fluid" src="assets/img/team/t3.jpg" alt="card image"></p>
                                            <h4 class="card-title grad-text">Sunlimetech</h4>
                                            <p class="card-text">This is basic card with image on top, title, description and button.</p>

                                        </div>
                                    </div>
                                </div>
                                <div class="backside gradient-bg ">
                                    <div class="card gradient-bg">
                                        <div class="card-body text-center mt-4 gradient-bg">
                                            <h4 class="card-title text-white">Sunlimetech</h4>
                                            <p class="card-text text-white">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                            <ul class="list-inline text-white">
                                                <li class="list-inline-item">
                                                    <a class="social-icon text-xs-center" target="_blank" href="#">
                                                        <i class="fa fa-facebook text-white"></i>
                                                    </a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a class="social-icon text-xs-center" target="_blank" href="#">
                                                        <i class="fa fa-twitter text-white"></i>
                                                    </a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a class="social-icon text-xs-center" target="_blank" href="#">
                                                        <i class="fa fa-skype text-white"></i>
                                                    </a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a class="social-icon text-xs-center" target="_blank" href="#">
                                                        <i class="fa fa-google text-white"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ./Team member -->


                </div>
            </div>
        </section>
        <!-- Team -->

        <section class="section section-lg bg-image-2">
            <div class="container text-center">
                <div class="row justify-content-center">
                    <div class="col-xl-10 d-flex flex-column align-items-center">
                        <h2 class="wow  grad-text animate__animated animate__fadeInLeft animate__slower  animate__delay-5s 5s">Call Now and Get a Free Consultation</h2>
                        <p class="wow animate__animated animate__fadeInLeft animate__slower  animate__delay-5s 5s ">Let our team handle all your dental healthcare issues.</p>
                        <p class="wow  text-secondary text-md font-weight-regular animate__animated animate__fadeInLeft animate__slower  animate__delay-5s 5s">Free Consultation from Our Expert Advisors</p>
                        <a class="wow  text-xxl font-weight-bold animate__animated animate__fadeInRight animate__slower  animate__delay-5s 5s" href="tel:#">
                            <h2> +1 3153695943</h2>
                        </a>
                        <a class="wow animate__animated animate__fadeInUp animate__slower  button button-primary button-shadow button-md button-xxl btn-grad  animate__delay-5s 5s" href="#">Request a Callback | Book An Appointment</a>
                    </div>
                </div>
            </div>
        </section>

    </div>

</div>
<!-- /Page Content -->
