<!-- Page Content -->
<div class="content">

    <!-- Breadcrumb -->
    <div class="breadcrumb-bar gradient-bg ">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-md-12 col-12">
                    <h2 class="breadcrumb-title">Info Bytes</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- /Breadcrumb -->

    <!-- <div class="container-fluit ">
        <div class="row">
            <div class="col-12 text-center">
                <img src="assets/img/teladent.png" alt="Teladent">

            </div>
        </div>



        <section class="iq-features section section-lg bg-default">
            <div class="container">
                <div class="row align-items-center">


                    <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12 circle-bg">
                        <div class="holderCircle">
                            <div class="round"></div>
                            <div class="dotCircle" stylesa="transform: rotate(252deg); transition: all 2s ease 0s;">
                                <div class="itemDot itemDot1" data-tab="1">
                                    <img src="assets/img/1.jpg" alt="root canal">
                                    <span class="forActive"></span>
                                </div>
                                <div class="itemDot itemDot2" data-tab="2">
                                    <img src="assets/img/2.jpg" alt="heateher-min">
                                    <span class="forActive"></span>
                                </div>
                                <div class="itemDot itemDot3" data-tab="3">
                                    <img src="assets/img/3.jpg" alt="richard">
                                    <span class="forActive"></span>
                                </div>
                                <div class="itemDot itemDot4 active" data-tab="4">
                                    <img src="assets/img/4.jpg" alt="JSimone">
                                    <span class="forActive"></span>
                                </div>

                            </div>
                            <div class="content-star"></div>
                            <div class="contentCircle">
                                <div class="CirItem title-box CirItem1">
                                    <h4 class="title">ROOT CANAL</h4>
                                    <p>Root canal is a treatment to repair and save a severely damaged or infected tooth, instead of removing it.</p>
                                    <i class="fa fa-clock-o"></i>
                                </div>
                                <div class="CirItem title-box CirItem2">
                                    <h4 class="title">DENTAL IMPLANTS</h4>
                                    <p>It is a surgical fixture that is placed into the jawbone and allowed to fuse with the bone over the span of a few months.</p>
                                    <i class="fa fa-comments"></i>
                                </div>
                                <div class="CirItem title-box CirItem3">
                                    <h4 class="title">BRACES</h4>
                                    <p>Dental braces are appliances which are used to align or straighten the teeth and guide the teeth to the corrected position.</p>
                                    <i class="fa fa-user"></i>
                                </div>
                                <div class="CirItem title-box CirItem4 active">
                                    <h4 class="title">CROWNS and BRIDGES</h4>
                                    <p>Crowns and bridges are fixed dental restorations which are used for restoration or replacement of missing natural teeth, respectively.</p>
                                    <i class="fa fa-tags"></i>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </section>

        <section class="section section-lg bg-image-2">
            <div class="container text-center">
                <div class="row justify-content-center">
                    <div class="col-xl-10 d-flex flex-column align-items-center">
                        <h2 class="wow fadeInUp grad-text" style="visibility: visible; animation-name: fadeInUp;">Call Now and Get a Free Consultation</h2>
                        <p class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">Let our team handle all your dental healthcare issues.</p>
                        <p class="wow fadeInUp text-secondary text-md font-weight-regular" style="visibility: visible; animation-name: fadeInUp;">Free Consultation from Our Expert Advisors</p>
                        <a class="wow fadeInUp text-xxl font-weight-bold" href="tel:#" style="visibility: visible; animation-name: fadeInUp;">
                            <h2> +91 9899799981</h2>
                            <h2> +91 9899799982</h2>
                        </a>
                        <div class="row">
                            <a class="wow animate__animated animate__fadeInUp animate__slower  button button-primary button-shadow button-md button-xxl btn-grad  animate__delay-5s 5s" href="javascript:void(0);">Request a Callback</a>
                            <a class="wow animate__animated animate__fadeInUp animate__slower  button button-primary button-shadow button-md button-xxl btn-grad  animate__delay-5s 5s" routerLink="/online-consultation" [queryParams]="{limit: 10, skip: 0 }">Book An Appointment</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div> -->


    <div class="container-fluit ">
        

        <section class="section  bg-default bgw p40">
            <div class="container text-center text-md-left">
                <div class="row align-items-center row-30 flex-md-row">
                    
                    <div class="col-lg-5 col-md-5">
                        <h2 class="p40 fw lio">Infobytes<br></h2>
        
                        <p class="fcs lio tela-text stbs">Oral cavity is the window to general health. Our teeth have such an important role to play in our lives. They help us to chew food, to talk and
                        speak clearly and they also give our face its shape. A smile also has other day-to-day benefits. It can give us greater
                        confidence, as well as influence our social lives, careers and relationships.</p>
                    </div>

                    <div class="col-lg-6 col-md-7">
                        <div class="block-xs"><img src="/assets/img/infobyte/infobyte.png" alt="" class="img-fluid">
                        </div>
                    </div>
        
                </div>
            </div>
        </section>

        <!-- tab section -->

        <section class="bgw p40 pop">
            <div class="container">
                <div class="row ">
                <div class="col-sm-12 col-xs-12 col-md-12  text-center">
                    <h2 class="p40 fw">Dental Treatments you should know</h2>
                </div>

                <div class="col-sm-12 col-xs-12 col-md-12 p40">
                    <ul class="infobytetab nav nav-tabs">
                        <li class="col-sm-3 bdd">
                            <a data-toggle="tab" class="active" href="#homecopy">
                            <div class="row rp">
                            <div class="col-sm-3"><img src="/assets/img/infobyte/tab1.png">
                            </div>
                            <div class="col-sm-9 p9">Root Canal Treatment</div>
                            </div>
                        </a>
                    </li>

                    <li class="col-sm-3 bdd">
                        <a data-toggle="tab" href="#menu1">
                            <div class="row rp">
                                <div class="col-sm-3"><img src="/assets/img/infobyte/tab2.png">
                                </div>
                                <div class="col-sm-9 p9">Dental Implants</div>
                            </div>
                        </a>
                    </li>

                    <li class="col-sm-3 bdd">
                        <a data-toggle="tab" href="#menu2">
                            <div class="row rp">
                                <div class="col-sm-3"><img src="/assets/img/infobyte/tab3.png">
                                </div>
                                <div class="col-sm-9 p9">Dental Braces</div>
                            </div>
                        </a>
                    </li>

                    <li class="col-sm-3 bdd">
                        <a data-toggle="tab" href="#menu3">
                            <div class="row rp">
                                <div class="col-sm-3"><img src="/assets/img/infobyte/tab4.png">
                                </div>
                                <div class="col-sm-9 p9">Crowns & Bridges</div>
                            </div>
                        </a>
                    </li>

                    </ul>
                </div>

                
                
            <!-- tab content -->
                <div class="infobytetabc tab-content p40">
                    
                    <div id="homecopy" class="tab-pane active">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-7 col-xs-6">
                                    <p class="stbs">Root canal is a treatment to repair and save a severely damaged or infected tooth, instead of removing it.</p>
                                    
                                        <h5><b>STAGE 1:</b></h5>
                                        <p class="stbs">Whenever there is any damage to the nerve of the tooth, due to tooth decay, repeated fillings, crack, fracture, or
                                        trauma- it may cause inflammation and damage to the pulp tissue- nerves and blood vessels. If left untreated, the
                                        bacteria’s may accumulate and cause pain and may further lead to swelling with respect to that tooth.</p>

                                        <h5><b>STAGE 2:</b></h5>
                                        <p class="stbs">Local anesthesia is given to numb the tooth. An access hole will then be drilled into the tooth. The infected tissue, along with
                                        bacteria and related debris, is removed from the tooth.</p>

                                        <h5><b>STAGE 3:</b></h5>
                                        <p class="stbs">The cleaning out process is accomplished using root canal files. Saline or sodium hypochlorite is used periodically to
                                        flush away the debris. If root canal therapy is not completed on the same day, a temporary filling is placed in the
                                        exterior hole in the tooth to keep contaminants out between appointments.</p>

                                        <h5><b>STAGE 4:</b></h5>
                                        <p class="stbs">The final step may involve further restoration of the tooth. Because a tooth that needs root canal therapy often is one that has a large filling or extensive decay or other weakness, a crown, crown and post, or other restoration often needs to be placed on the tooth to protect it, prevent it from breaking, and restore it to full function.</p>
                                        
                                    
                                </div>
                                <div class="col-sm-5 col-xs-6">
                                    <img class="imgw" src="/assets/img/infobyte/rootimg1.png">
                                    <p class="itext"><i>Caption: Root canal is a treatment to repair and save a severely damaged or infected tooth, instead of removing it.</i></p>

                                    <img class="imgw" src="/assets/img/infobyte/rootimg2.png">
                                    <p class="itext"><i>Caption: Root canal is a treatment to repair and save a severely damaged or infected tooth, instead of removing it.</i></p>
                                </div>
                            </div>
                        </div>
                     </div>

                     <!-- tab 2 -->
                    <div id="menu1" class="tab-pane fade">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-7 col-xs-6">
                                    <p class="stbs">It is a surgical fixture that is placed into the jawbone and allowed to fuse with the bone over the span of a few months</p>
                                    
                                       
                                        <p class="stbs">Dental implants are metal posts or frames that are surgically positioned into the jawbone beneath your gums. Once in
                                        place, they allow your dentist to mount replacement teeth onto them.</p>

                                       
                                        <p class="stbs">A device called an abutment connects the artificial tooth to the dental implant. The crown is custom-made to fit the
                                        person’s mouth and match the color of their teeth. Crowns look, feel, and function like natural teeth.</p>

                                        
                                        <p class="stbs">Implants have several advantages over dentures, which are removable artificial teeth.</p>
                                        <p class="stbs"> <strong>Implants:</strong>  are more natural and comfortable, have a higher success rate, improve chewing function, lead to a lower risk of cavities developing in nearby
                                        teeth, lead to better maintenance of bone at the site of the lost tooth, cause decreased sensitivity in nearby teeth, do
                                        not need to be taken out and cleaned every night.</p>

                                        
                                        
                                    
                                </div>
                                <div class="col-sm-5 col-xs-6">
                                    <img class="imgw" src="/assets/img/infobyte/dentelroot.png">
                                    <p class="itext"><i>Caption: Dental Implant is a fixed treatment option to replace one or multiple missing teeth.</i></p>

                                   
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- tab 3 -->
                    <div id="menu2" class="tab-pane fade">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-7 col-xs-6">
                                    <p class="stbs">Dental braces are appliances which are used to align or straighten the teeth and guide the teeth to the corrected
                                    position.</p>
                        
                        
                                    <p class="stbs">Many people who need dental braces get them during their early teenage years, but adults also can benefit from wearing
                                    braces. The goal of dental braces is to properly align your teeth and jaws to produce an even bite and pleasing smile.</p>
                        
                        
                                    <p class="stbs">Dental braces offer corrective treatment for overcrowded or crooked teeth, too much space between teeth, upper front
                                    teeth that overlap the lower teeth too much — either vertically (overbite) or horizontally (overjet), Upper front teeth
                                    that bite behind the lower ones (underbite), upper and lower teeth that do not bite (open bite) and other jaw misalignment problems that cause an uneven bite.
                                    </p>
                        
                        
                                    <p class="stbs">The braces may consist of bands, wires, and other fixed or removable corrective appliances. They are of different types-
                                    metal/traditional braces, ceramic braces, lingual braces, clear aligners.</p>

                                    <p class="stbs">On average, once braces go on, they usually remain in place for 1 to 3 years. After braces come off, most people need to
                                    wear a retainer all the time for 3 to 6 months, depending on the correction done.</p>
                        
                        
                        
                        
                                </div>
                                <div class="col-sm-5 col-xs-6">
                                    <img class="imgw" src="/assets/img/infobyte/dentellips.png">
                                    <p class="itext"><i>Caption: Dental braces are a way of straightening or moving your teeth, to improve how they look and how they work.</i></p>
                        
                        
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- tab 4 -->
                    <div id="menu3" class="tab-pane fade">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-7 col-xs-6">
                                <p class="stbs">Crowns and bridges are fixed dental restorations which are used for restoration or replacement of missing
                                    natural teeth,
                                    respectively.</p>
                    
                    
                                <p class="stbs">Dental crowns can have the following advantages:</p>
                                <p class="stbs">It is the best protection that can be given to a threatened tooth. Teeth weakened by root canal treatment
                                    are also
                                    protected with crowns. Its made to restore the original shape of your tooth. Ceramic crowns are strong,
                                    and yet
                                    incredibly good looking. The color can be matched to the color of the adjacent teeth, restoring, or
                                    improving upon your
                                    original smile. Crowns last the longest of most dental restorations, most durable with a life of fifteen
                                    years or more.</p>
                    
                    
                                <p class="stbs">Bridges have the following functions:</p>
                                <p class="stbs">With the help of a bridge, the dental functionality is restored and helps to chew and eat efficiently. A
                                    bridge will
                                    also improve the clarity of speech that may have been lost due to absence of a natural tooth. The bridge
                                    structure
                                    distributes the chewing force equally to the supporting teeth, making for easier chewing. It also
                                    improves the smiles.
                                    Bridges also tend to last much longer than removable dentures.</p>
                    
                    
                            </div>
                            <div class="col-sm-5 col-xs-6">
                                <img class="imgw" src="/assets/img/infobyte/dentalteeth.png">
                                <p class="itext"><i>Caption: It is a dental restoration that covers the exposed surface of a tooth to strengthen it or improve its appearance.</i></p>
                    
                    
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        </section>


          <section class="section section-lg bg-image-21">
            <div class="container text-center">
                <div class="row justify-content-center">
                    <div class="col-xl-10 d-flex flex-column align-items-center">
                        <h2>Get a Free Consultation</h2>
                        <p class="gc stbs">Let our team handle all your dental healthcare issues.
                        Call now to get a free consultation from our expert advisors on below numbers.</p>
                        
                        <a class="wow  text-xxl font-weight-bold" href="tel:#">
                            <h4> +91 9899799981  <span class="dd">|</span>  +91 9899799982</h4>
                          
                        </a>
                        <div class="row">
                            <a class="button button-primary button-shadow button-md button-xxl btn-grad  animate__delay-5s 5s" href="javascript:void(0);">Request a Callback</a>
                            <a class="button button-primary button-shadow button-md button-xxl btn-grad kkall animate__delay-5s 5s" routerLink="/web-panel/online-consultation" [queryParams]="{limit: 10, skip: 0 }">Book An Appointment</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>



    </div>
</div>
<!-- /Page Content -->