<!-- Page Content -->
<div class="content comagap bgimg">
    <div class="container">

        <div class="row">
            <div class="col-12 text-center">
                <p class="stb">Privacy Policy</p>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="terms-content">
                    <div class="terms-text">
                        <h4>
                            Please carefully go through these privacy policy available at </h4>
                        <p>
                            Teladentist Solutions <b>(“us”, “we”, or “Teladent”)</b> is the author and publisher of the online website <a href="www.teladent.in">www.teladent.in </a> <b>(“Website”)</b> on the world wide web as well as the software and
                            applications provided by Teladent.
                        </p>

                        <p>
                            This privacy policy ("Privacy Policy") explains how we collect, use, share, disclose and protect Personal information about the Users of the Services, including the Practitioners, the End-Users, and the visitors of Website (jointly and severally referred
                            to as “you” or “Users” in this Privacy Policy). We created this Privacy Policy to demonstrate our commitment to the protection of your privacy and your personal information. Your use of and access to the Services is subject
                            to this Privacy Policy and our Terms of Use.
                        </p>

                        <p>
                            BY USING THE SERVICES OR BY OTHERWISE GIVING US YOUR INFORMATION, YOU WILL BE DEEMED TO HAVE READ, UNDERSTOOD AND AGREED TO THE PRACTICES AND POLICIES OUTLINED IN THIS PRIVACY POLICY AND AGREE TO BE BOUND BY THE PRIVACY POLICY. YOU HEREBY CONSENT TO OUR
                            COLLECTION, USE AND SHARING, DISCLOSURE OF YOUR INFORMATION AS DESCRIBED IN THIS PRIVACY POLICY. WE RESERVE THE RIGHT TO CHANGE, MODIFY, ADD OR DELETE PORTIONS OF THE TERMS OF THIS PRIVACY POLICY, AT OUR SOLE DISCRETION, AT
                            ANY TIME.
                        </p>

                        <p>
                            IF YOU DO NOT AGREE WITH THIS PRIVACY POLICY AT ANY TIME, DO NOT USE ANY OF THE SERVICES OR GIVE US ANY OF YOUR INFORMATION. IF YOU USE THE SERVICES ON BEHALF OF SOMEONE ELSE (SUCH AS YOUR CHILD) OR AN ENTITY (SUCH AS YOUR EMPLOYER), YOU REPRESENT THAT
                            YOU ARE AUTHORISED BY SUCH INDIVIDUAL OR ENTITY TO (I) ACCEPT THIS PRIVACY POLICY ON SUCH INDIVIDUAL’S OR ENTITY’S BEHALF, AND (II) CONSENT ON BEHALF OF SUCH INDIVIDUAL OR ENTITY TO OUR COLLECTION, USE AND DISCLOSURE OF SUCH
                            INDIVIDUAL’S OR ENTITY’S INFORMATION AS DESCRIBED IN THIS PRIVACY POLICY.
                        </p>

                        <p>
                            CONSENT TO THIS POLICY
                        </p>

                        <p>
                            You acknowledge that this Privacy Policy is a part of the Terms of Use of the Website and the other Services, and you unconditionally agree that becoming a User of the Website and its Services signifies your

                            <li>(i) assent to this Privacy Policy, and</li>
                            <li>(ii) consent to <b>Teladent </b> using, collecting, processing and/or disclosing your Personal Information in the manner and for the purposes set out in this Privacy Policy</li>
                            Your visit to the Website and use of the Services is subject to this Privacy Policy and the Terms of Use.
                        </p>

                    </div>
                    <div class="terms-text">
                        <h4>CONFIDENTIALITY AND SECURITY</h4>
                        <p>
                            Your Personal Information is maintained by <b>Teladent </b> in electronic form on its equipment, and on the equipment of its employees. Such information may also be converted to physical form from time to time. <b>Teladent </b>                            takes all necessary precautions to protect your personal information both online and off-line, and implements reasonable security practices and measures including certain managerial, technical, operational and physical security
                            control measures that are commensurate with respect to the information being collected and the nature of <b>Teladent</b>’s business.
                        </p>

                        <p>
                            No administrator at <b>Teladent </b> will have knowledge of your password. It is important for you to protect against unauthorized access to your password, your computer and your mobile phone. Be sure to log off from the Website
                            when finished. <b>Teladent </b> does not undertake any liability for any unauthorised use of your account and password. If you suspect any unauthorized use of your account, you must immediately notify <b>Teladent </b> by sending
                            an email to
                            <a href="support@Teladent.com"> support@Teladent.com</a> You shall be liable to indemnify <b>Teladent </b> due to any loss suffered by it due to such unauthorized use of your account and password.
                        </p>

                        <p>
                            <b>Teladent </b> makes all User information accessible to its employees, agents or partners and third parties only on a need-to-know basis, and binds only its employees to strict confidentiality obligations.
                        </p>

                        <p>
                            Part of the functionality of <b>Teladent </b> is assisting the doctors to maintain and organise such information. <b>Teladent </b> may, therefore, retain and submit all such records to the appropriate authorities, or to doctors
                            who request access to such information.
                        </p>

                        <p>
                            Part of the functionality of the <b>Teladent </b> is assisting the patients to access information relating to them. <b>Teladent </b> may, therefore, retain and submit all such records to the relevant patients, or to their doctors.
                            4.6 Not with standing the above, Teladent is not responsible for the confidentiality, security or distribution of your Personal Information by our partners and third parties outside the scope of our agreement with such partners
                            and third parties. Further, Teladent shall not be responsible for any breach of security or for any actions of any third parties or events that are beyond the reasonable control of <b>Teladent </b> including but not limited
                            to, acts of government, computer hacking, unauthorised access to computer data and storage device, computer crashes, breach of security and encryption, poor quality of Internet service or telephone service of the User etc.

                        </p>

                        <p>
                            <span><b>End User &practioners using the Oral Assessment Test.</b></span><br>
                            <span><b>End User using the online consultation Service& Conducting oral test</b></span><br>
                            <span><b>Practitioners using the consultation platform</b></span>
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- /Page Content -->