        <!-- Header -->
        <header class="header " id="mainHeader">
            <nav class="navbar navbar-expand-lg header-nav">
                <div class="navbar-header">
                    <a id="mobile_btn" href="javascript:void(0);">
                        <span class="bar-icon">
								<span></span>
                        <span></span>
                        <span></span>
                        </span>
                    </a>
                    <a href="index.html" class="navbar-brand logo">
                        <img src="assets/img/logo.png" class="img-fluid" alt="Logo">
                    </a>
                </div>
                <div class="main-menu-wrapper">

                    <div class="menu-header">
                        <a href="index.html" class="menu-logo">
                            <img src="assets/img/logo.png" class="img-fluid" alt="Logo">
                        </a>
                        <a id="menu_close" class="menu-close" href="javascript:void(0);">
                            <i class="fas fa-times"></i>
                        </a>
                    </div>


                    <nav class="tabs d-none d-md-block">
                        <div class="selector"></div>
                        <a href="about.html">Who we are</a>
                        <a href="#">Oral Test</a>
                        <a href="#">How We Can Help</a>
                        <a href="#">Info Bytes</a>
                        <a href="#"> find a clinic</a>

                    </nav>

                    <ul class="main-nav ">
                        <li class="login-link">
                            <a href="about.html">Who we are </a>

                        </li>
                        <li class="login-link">
                            <a href="#"> Oral Test</a>

                        </li>


                        <li class="login-link">
                            <a href="#">How We Can Help </a>

                        </li>

                        <li class="login-link">
                            <a href="#"> Info Bytes</a>

                        </li>
                        <li class="login-link">
                            <a href="#"> find a clinic</a>

                        </li>

                        <li class="login-link">
                            <a href="login.html">BOOK AN APPOINTMENT </a>
                        </li>
                        <li class="login-link">
                            <a href="login.html">Login </a>
                        </li>
                    </ul>
                </div>

                <ul class="nav header-navbar-rht">
                    <li class="nav-item">
                        <a class="nav-link btn-grad" href="login.html">BOOK AN APPOINTMENT </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link btn-grad" href="login.html"> <i class="fa fa-user " aria-hidden="true"></i> </a>
                    </li>

                </ul>
            </nav>




        </header>
        <!-- /Header -->
