<!-- Page Content -->
<div class="content comagap bgimg">
    <div class="container">

        <div class="row">
            <div class="col-12 text-center">
                <p class="stb">Terms and conditions</p>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="terms-content">
                    <div class="terms-text">
                        <h4>
                            Please carefully go through these terms and conditions (“Terms”) available at </h4>
                        <p> <a href="https://www.Teladent.com/company/privacy">https://www.Teladent.com/company/privacy </a> (“Privacy Policy”) before you decide to access the Website or avail the services made available on the Website by Teladent.
                            These Terms and the Privacy Policy together constitute a legal agreement (“Agreement”) between you and Teladent in connection with your visit to the Website and your use of the Services (as defined below).
                        </p>

                    </div>
                    <div class="terms-text">
                        <h4>The Agreement applies to you whether you are -</h4>
                        <p>A medical practitioner or health care provider (whether an individual professional or an organization) or similar institution wishing to be listed, or already listed, on the Website, including designated, authorized associates
                            of such practitioners or institutions (“Practitioner(s)”, “you” or “User”); or</p>
                        <p>
                            A patient, his/her representatives or affiliates, searching for Practitioners through the Website (“End-User”, “you” or “User”); or
                        </p>
                        <p>
                            Otherwise a user of the Website (“you” or “User”).
                        </p>

                        <p>
                            This Agreement applies to those services made available by Teladent on the Website, which are offered free of charge to the Users (“Services”), including the following:
                        </p>

                        <p>
                            For Practitioners: Listing of Practitioners and their profiles and contact details, to be made available to the other Users and visitors to the Website;
                        </p>

                        <p>
                            For other Users: Facility to

                            <li>(i) create and maintain ‘Health Accounts’,</li>
                            <li>(ii) search for Practitioners by name, specialty, and geographical area, or any other criteria that may be developed and made available by Teladent, and
                            </li>
                            <li>(iii) to make appointments with Practitioners.</li>
                        </p>

                        <p>
                            The Services may change from time to time, at the sole discretion of Teladent, and the Agreement will apply to your visit to and your use of the Website to avail the Service, as well as to all information provided by you on the Website at any given point
                            in time
                        </p>

                        <p>
                            This Agreement defines the terms and conditions under which you are allowed to use the Website and describes the manner in which we shall treat your account while you are registered as a member with us. If you have any questions about any part of the
                            Agreement, feel free to contact us at <a href="javascript:void(0);">support@Teladent.com</a>.
                        </p>

                        <p>
                            We reserve the right to modify or terminate any portion of the Agreement for any reason and at any time, and such modifications shall be informed to you in writing You should read the Agreement at regular intervals. Your use of the Website following any
                            such modification constitutes your agreement to follow and be bound by the Agreement so modified.
                        </p>

                        <p>
                            You acknowledge that you will be bound by this Agreement for availing any of the Services offered by us. If you do not agree with any part of the Agreement, please do not use the Website or avail any Services.
                        </p>

                        <p>
                            Your access to use of the Website and the Services will be solely at the discretion of Teladent. The Agreement is published in compliance of, and is governed by the provisions of Indian law, including but not limited to:

                        </p>
                        <p>
                            <span>The Indian Contract Act, 1872, </span><br>
                            <span>the (Indian) Information Technology Act, 2000, and</span><br>
                            <span>the rules, regulations, guidelines and clarifications framed there under, including the (Indian) Information Technology 
                                (Reasonable Security Practices and Procedures and Sensitive Personal
                                 Information) Rules,</span>
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- /Page Content -->